@model List<Category>
<section class="content">
    <div class="container-fluid">
     
       
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">

                                <a asp-action="Create" asp-controller="CategoriesController1" asp-area="Admin"
                                class="btn btn-outline-success">Add Category</a>
                                
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed">
                            <thead>
                                <tr>
                                    <th>Category Name</th>
                                    <th>Image</th>
                                    <th>Action</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>@item.CatName</td>
                                        <td><img src="~/category/@item.CatPhoto" style="width:150px ;height:150px;"></td>
                                        <td>
                                            <a asp-action="Edit" asp-controller="CategoriesController1" asp-route-id="@item.CatId" class="btn btn-outline-primary">
                                                Edit Category
                                            </a>

                                            <a asp-action="Delete" asp-controller="CategoriesController1" asp-route-id="@item.CatId" class="btn btn-outline-danger">
                                                Delete Category
                                            </a>
                                        </td>

                                    </tr>
                                }
                                
                               
                               
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>